.tabcontent {
    /* display: none; */
  }

  .etabs {
    display: flex;
  }
  .nav.visible {
    display: flex;
    width: 60px;
    height: 97vh;
    background-color: #ffffff;
    border: none;
    flex-direction: column;
    border-right: 1px solid #bbbbbb29;
    box-shadow: 10px 0 8px -8px #00000054;
  }
  .views {
    position: relative;
    height: calc(100vh - 35px);
    width: 100vw;
  }
  .tab {
    background: none;
    box-shadow: none;

    height: 60px;
    width: 60px;

    justify-content: center;
  }
  .tab.active {
    background: #00000017;
    border: none;
    border-left: 1px solid #00c4ff;
    box-shadow: none;
    padding-left: 7px;
  }
  .tab-icon {
    height: 20px;
    width: 20px;
  }
  .tab-icon img {
    max-width: 20px;
    max-height: 20px;
  }
  .tab-title,
  .tab-close {
    display: none;
  }
  .buttons {
    border-left: none;
    padding: 0px;
    display: none;
  }
  .tab.visible:not(.active) + .tab.visible:not(.active) {
    border-left: none;
    padding-left: 8px;
  }